<editfeed>

<form onsubmit="{ save }" if={ item }>
  <fieldset>
    <legend>Edit feed</legend>
    <div class="input-single">
      <label for="title">Title</label>
      <input class="input-big" type="text" id="title" placeholder="Feed title" value="{ item.title }"/>
    </div>
    <div class="input-single">
      <label for="subtitle">Subtitle</label>
      <input class="input-big" type="text" id="subtitle" placeholder="Feed URL" value="{ item.subtitle }"/>
    </div>
    <div class="input-single">
      <label for="link">URL</label>
      <input class="input-big" type="text" id="link" placeholder="Feed URL" value="{ item.link }"/>
    </div>
    <div class="input-single">
      <span class="switch">
        <input type="checkbox" class="switch" id="active" name="active" checked="{ item.active }">
        <label for="active">Active</label>
      </span>
    </div>
    <div class="input-single">
      <input type="submit" class="button" value="Save">
      <a class="button button-link" type="reset" href="/">Cancel</a>
    </div>
  </fieldset>
</form>

  <script>
    this.url = 'http://localhost:1707/feed/' + opts.link;

    save (e) {
      e.preventDefault()
      const data = {
          link: e.target.elements.link.value,
          title: e.target.elements.title.value,
          subtitle: e.target.elements.subtitle.value,
          active: e.target.elements.active.checked
      }
      fetch(this.url, {
        method: 'POST',
        body: JSON.stringify(data)
      })
      .then((response) => response.json())
      .then((data) => riot.mount('feeds') && route('/'))
    }

    this.on('mount', () => {
      fetch(this.url)
      .then((response) => response.json())
      .then((data) => {
        this.item = data
        this.update()
      })
    })

    this.item = null
    this.mixin(View)
  </script>

</editfeed>
