<entry>
  <virtual if={item}>
  <h3><a href="{ item.link }">{ item.title }</a></h3>
  <div if={ item.image } class="card-image">
    <img src="{ item.image }" class="img-responsive text-center" />
  </div>
  <raw content="{ item.summary }"/>
  <raw content="{ item.content }"/>
  <hr>
  <footer>
    <button if={ !item.flagged } title="Add to your ReRSS feed"><i class="fa fa-rss"></i> Share</button>
    <button if={ item.flagged } title="Remove from your ReRSS feed"><i class="fa fa-stop"></i> Unshare</button>
    <button title="Read it later" onclick="{ bookmark }"><i class="fa fa-bookmark"></i> Bookmark</button>
    <button title="Mark as seen" onclick="{ seen }"><i class="fa fa-check"></i> Mark as seen</button>
    <a title="Open" href="{ item.link }" class="button"><i class="fa fa-link"></i> Open</a>
  </footer>
  </virtual>

  <script>
    this.item = null
    this.url = 'http://localhost:1707/entry/' + encodeURIComponent(opts.link);

    this.on('mount', () => {
      fetch(this.url)
      .then((response) => response.json())
      .then((data) => {
        this.item = data
        this.update()
      })
    })

  </script>

</entry>

<raw>
  <span></span>
  this.root.innerHTML = opts.content
</raw>

