<newfeed>

<form onsubmit="{ add }">
  <fieldset>
    <legend>Add a new feed</legend>
  <div class="input-single">
    <label for="link">URL</label>
    <input class="input-big" type="text" id="link" placeholder="Feed URL" />
  </div>
  <div class="input-single">
    <input type="submit" class="button" value="Create new feed">
    <a class="button button-link" type="reset" href="/">Cancel</a>
  </div>
  </fieldset>
</form>

  <script>
    add (e) {
      e.preventDefault()
      const link = e.target.elements.link.value;
      if (link) {
        fetch('http://localhost:1707/feed', {
          method: 'POST',
          body: JSON.stringify({link: link})
        }).then(() => riot.mount('feeds') && route('/'))
      }
    }

    this.item = null
    this.mixin(View)
  </script>

</newfeed>
